<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      Copyright &nbsp; &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      author：zhouhaiou<br>
      tel：18200376700
      <!-- Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> -->
    </div>
  </div>
</footer>